@import "tailwindcss";

#products__section,
#reviews__section,
#lipstick__section,
#featuredBrands__section {
  scroll-margin-top: 80px;
}

body {
  background: linear-gradient(to right, #fb91c8, #ffc0cb 90%);
}

@theme {
  --breakpoint-xs: 375px;
}

.product-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}
